body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F4E9D8;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: #222;
    padding: 14px 20px;
    border-radius: 15px;
}

.menu-toggle {
    font-size: 28px;
    color: white;
    cursor: pointer;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #ECA158;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background-color: #222;
    z-index: 200;
    list-style: none;
    padding-top: 60px;
    border-radius: 0 15px 15px 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.menu.aberto {
    transform: translateX(0);
}

.overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.overlay.ativo {
    display: block;
}
.footernavbar {
    text-align: left;
    color: #ebe8e4;
    position: fixed;
    bottom: 65px;
    left: 20px;
    padding: 20px;
}
.menu li a {
    display: block;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #ECA158;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.container h1 {
    text-align: center;
    color: #ECA158;
    margin-bottom: 20px;
}
