:root {
    --corPrincipal: #be430a;
    --corSecundaria: #D97A2B;
    --fundo: #F4E9D8;
    --branco: #FFFFFF;
    --textoPrincipal: #000000;
    --textoSecundario: #494949;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    background-color: #F4E9D8;
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: #222;
    padding: 20px 25px;
}

.menu-toggle {
    font-size: 28px;
    color: white;
    cursor: pointer;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #ECA158;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background-color: #222;
    z-index: 200;
    list-style: none;
    padding-top: 60px;
    border-radius: 0 15px 15px 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.menu.aberto {
    transform: translateX(0);
}

.menu li a {
    display: block;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #ECA158;
}

.overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.overlay.ativo {
    display: block;
}

.footernavbar {
    text-align: left;
    color: #ebe8e4;
    position: fixed;
    bottom: 65px;
    left: 20px;
    padding: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
    gap: 40px; /* 👈 bem menor */
}

.badge {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.badge span {
    display: inline-block;
    background-color: #c0948057;
    color: var(--corPrincipal);
    padding: 4px 12px; 
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500; 
}

.badge span::before {
    content: "🍴";
    margin-right: 6px;
    font-size: 12px;
}

.tituloPrincipal {
    text-align: left;
    color: #000000;
    margin-bottom: 10px;
    font-family: 'Koh Santepheap', serif;
    font-size: 52px;
    font-weight: 700;
    line-height: 1.2;
}

.textoPrincipal {
    text-align: left;
    color: var(--textoSecundario);
    margin-bottom: 20px;
    font-family: 'Poppins', arial;
    font-size: 17px;
    line-height: 1.1;
    font-weight: 500;
}

#destaque {
    font-style: italic;
    color: var(--corPrincipal);
    font-weight: 700;
}

.texto {
    flex: 1;
}

.containerBtn {
    display: flex;
    gap: 25px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 50px;
    text-decoration: none;
    color: var(--branco);
    font-weight: bold;

    transition: all 0.3s ease;
}

#btnCardapio {
    background-color: var(--corPrincipal);
}

#btnSaibaMais {
    background-color: #c0948057;
    color: var(--corPrincipal);
}

#btnCardapio:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: var(--corSecundaria);
}

#btnSaibaMais:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: #8b6c5e81;
}

.imagem {
    flex: 1;
    display: flex;
    justify-content: center;
}

.imgPrincipal {
    max-width: 1200px;
    width: 100%;
    border-radius: 50px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.badge {
    opacity: 0;
    animation: fadeUp 0.6s ease forwards;
    animation-delay: 0.2s;
}

.tituloPrincipal {
    opacity: 0;
    animation: fadeUp 0.6s ease forwards;
    animation-delay: 0.4s;
}

.textoPrincipal {
    opacity: 0;
    animation: fadeUp 0.6s ease forwards;
    animation-delay: 0.6s;
}

.containerBtn {
    opacity: 0;
    animation: fadeUp 0.6s ease forwards;
    animation-delay: 0.8s;
}

.imagem {
    opacity: 0;
    animation: fadeUp 0.6s ease forwards;
    animation-delay: 0.4s;
}
